.card{
    width: 300px;
    height: 160px;
    padding: 1.5rem;
    color: #ffffff;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.card-front{
    background: linear-gradient(140deg, #882a70, #c83bd4, #3853ad,  #420b47, #b16809, #2d003e, #1f0b1a);
  height: 13rem;
  border-radius: 8px;
  width: 24rem;
  margin-top: 8rem;
  margin-left: -15rem;
  color: #ffffff;
}


.card-number{
    font-size: 1.5rem;
    letter-spacing: 4px;
    position: absolute;
    top: 19rem;
    left: 251px;
}

.card-name{
    font-size: 0.9rem;
    position: absolute;
    top: 24rem;
    left: 190px;
}

.card-expiry{
    font-size: 0.9rem;
    position: absolute;
    top: 24rem;
    left: 28rem;
}

.white{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    position: absolute;
    top: 15rem;
    left: 180px;
}

.white2{
     background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 60px;
    position: absolute;
    top: 15.4rem;
    left: 230px;
}

.purple{
     background-color: #c83bd4;
    width: 16px;
    height: 16px;
    border-radius: 60px;
    position: absolute;
    top: 15.5rem;
    left: 232px;
}


.card-back{
    background-color: rgb(233, 233, 226);
     height: 13rem;
  border-radius: 8px;
  width: 24rem;
  margin-top: 2rem;
  margin-left: -12rem;
  color: #000000;
}


.black{
    background-color: #000;
    position: absolute;
    top: 30rem;
    width: 35.8%;
    height: 2.5rem;
}

.grey{
    background-color: rgb(148, 137, 137);
     position: absolute;
    top: 35rem;
    width: 30%;
    height: 2rem;
    margin-left: 35px;
    border-radius: 3px;
}

.card-cvc{
    position: absolute;
    left: 495px;
    top:36rem;
    color: #fff;
    transform: translateY(-50%);
}

.tiny{
    position: absolute;
    top: 38rem;
    left: 19rem;
    font-size: 0.6rem;
}

@media (max-width: 768px) {
    
.card-front{
    height: 11rem;
   width: 20rem;
  margin-top: 6rem;
  margin-left: -3rem;
}


.card-number{
    font-size: 1.5rem;
    letter-spacing: 3px;
    top: 5rem;
    left: -29px;
}

.card-name{
    top: 9rem;
    left: -22px;
}

.card-expiry{
    top: 9rem;
    left: 13rem;
}

.white{
    top: 25px;
    left: -20px;
}

.white2{
    top: 30px;
    left: 20px;
}

.purple{
     top: 32px;
    left: 22px;
}


.card-back{
    height: 11rem;
   width: 20rem;
  margin-top: 1rem;
  margin-left: -2rem;
}


.black{
    top: 13rem;
    width: 91%;
    height: 2.3rem;
}

.grey{
    top: 17rem;
    width: 70%;
    }

.card-cvc{
    left: 195px;
    top: 18rem;
   }

.tiny{
    top: 20rem;
    left: 3rem;
    font-size: 0.5rem;
}
}


@media (max-width: 450px) {
    
.card-front{
    height: 8rem;
   width: 15rem;
  margin-top: 6rem;
  margin-left: 1rem;
}


.card-number{
    font-size: 1.1rem;
    letter-spacing: 2px;
    top: 4rem;
    left: 30px;
    word-spacing: px;
    white-space: nowrap;
}

.card-name{
    top: 6.5rem;
    left: 25px;
}

.card-expiry{
    top: 6.5rem;
    left: 13rem;
}

.white{
    height: 25px;
    width: 25px;
    top: 15px;
    left: 31px;
}

.white2{
    top: 17px;
    left: 70px;
}

.purple{
     top: 18.7px;
    left: 72px;
}


.card-back{
    height: 8rem;
   width: 15rem;
  margin-top: 1rem;
  margin-left: 2rem;
}


.black{
    top: 10rem;
    width: 15rem;
    height: 1.8rem;
}

.grey{
    top: 13rem;
    width: 12rem;
    left: 20px;
    height: 25px;
    }

.card-cvc{
    left: 195px;
    top: 13.8rem;
    font-size: 0.8rem;
   }

.tiny{
    top: 15rem;
    left: 5.6rem;
    font-size: 0.4rem;
    white-space: nowrap;
}
}